
:root {
  --page-pad-block: 1rem;
  --page-pad-inline: 1.25rem;
}

body {
  background-color: #f9f9f9;
  --font: "helvetica", helvetica, Arial, sans-serif;
  z-index: 50;
  margin: 0;
}

main {
  padding: var(--page-pad-block) var(--page-pad-inline);
}
